@import "./reset";

header {
    align-items: center;
    background: #24292E;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 62px;
    justify-content: flex-start;
    margin: 0px;
    padding: 0 20px;
    width: 100%;

    .menu-logo {
        margin-right: 15px;
        width: 35px;
    }

    .menu-list {
        display: flex;
    }

    .menu-itens {
        align-items: flex-start;
        list-style: none;
        margin-right: 5px;
    }

    .menu-links {
        color: white;
        margin-left: 15px;
        text-decoration: none;
    }

    .menu-input {
        background: none;
        border: 1px solid #444d56;
        border-radius: 5px;
        color: #fff;
        min-height: 28px;
        padding: 0 10px;
        width: 240px;
    }

    .menu-input:focus {
        outline: none;
    }

    @media (max-width: 570px) {
        .menu-itens {
            display: none;
        }

        .menu-input {
            width: 200px;
        }
    }
}

main {}

.content {
    display: flex;
    margin: 30px auto;
    justify-content: center;

    @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;
        min-width: unset;
        width: 100%;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        padding-left: 30px;

        @media (max-width:768px) {
            align-items: center;
        }

        .user-img {
            height: auto;
            width: 260px;
            display: none;

            img {
                border-radius: 50%;
                height: 100%;
                width: 100%;
            }
        }

        .user-name {
            color: #24292e;
            font-size: 26px;
            font-weight: 600;
            margin-top: 20px;
        }

        .user-nickname {
            color: #586069;
            font-size: 20px;
            font-weight: 300;
            margin-top: 5px;
        }
    }

    .repositories {

        max-width: 1140px;

        .repositories-title {
            display: none;
            margin-left: 20px;

            @media (max-width: 768px) {
                margin-top: 40px;
            }
        }

        .repositories-content {}

        .repositories-list {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 768px) {
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li {

                .repository {
                    border: 1px solid #e1e4e8;
                    border-radius: 10px;
                    margin: 18px;
                    padding: 15px;
                    width: 425px;
                    height: 105px;

                    @media (max-width:768px) {
                        width: 250px;
                    }

                    &-name {
                        color: #0366d6;
                        display: block;
                        font-weight: 600;
                        padding-bottom: 10px;

                    }

                    &-description {
                        color: #586069;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.search-placeholder {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 90%;

    @media (max-width: 355px) {
        width: 360px;
    }

    .placeholder-img {
        margin-top: 30px;

        @media (max-width: 355px) {
            margin-left: 30px;
        }

    }

    .placeholder-baloon-img {
        width: 280px;
        height: 150px;
        margin-left: 28px;
        margin-top: -50px;

        @media (max-width: 355px) {
            margin-right: 128px;
        }

    }

    .placeholder-text {
        position: absolute;
        margin-left: 226px;
        margin-top: -52px;
        font-size: 20px;

        @media (max-width: 355px) {
            margin-right: 118px;
        }
    }
}

.error {
    text-align: center;
    display: none;

    .error-icon {
        width: 35px;
        margin-top: 40px;
    }

    h1 {
       font-weight: bold;
       font-size: 20px;
       text-align: center;
       margin-top: 10px;
       margin-bottom: 5px;
    }

    span {
        font-size: 15px;
    }
}