@import "./reset";

header {
    align-items: center;
    background: #24292E;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    justify-content: flex-start;
    padding: 0 20px;
    margin: 0px;
    width: 100%;
    height: 62px;

    .menu-logo {
        width: 35px;
        margin-right: 15px;
    }

    .menu-list {
        display: flex;
    }

    .menu-itens {
        list-style: none;
        align-items: flex-start;
        margin-right: 5px;
    }

    .menu-links {
        color: white;
        margin-left: 15px;
        text-decoration: none;
    }

    .menu-input {
        background: none;
        border: 1px solid #444d56;
        border-radius: 5px;
        padding: 0 10px;
        min-height: 28px;
        width: 240px;
        color: #fff;
    }

    @media (max-width: 570px) {
        .menu-itens {
            display: none;
        }

        .menu-input {
            width: 200px;
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 30px auto;

    @media (max-width: 768px) {
        min-width: unset;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .profile-info {
        display: flex;
        flex-direction: column;

        .user-img {
            width: 260px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .user-name {
            font-size: 26px;
            font-weight: 600;
            color: #24292e;
            margin-top: 20px;
        }

        .user-nickname {
            font-size: 20px;
            color: #586069;
            font-weight: 300;
            margin-top: 5px;
        }
    }

    .repositories {
        display: flex;
        flex-wrap: wrap;

        .repositories-content {
            width: 1016px;

            @media (max-width: 768px) {
                width: 500px;
            }
        }

        .repositories-list {
            display: flex;
            flex-wrap: wrap;

            li {

                .repository {
                    padding: 19px 200px 85px 20px;
                    width: 250px;
                    border: 1px solid #e1e4e8;
                    border-radius: 10px;
                    margin: 18px;

                    &-name {
                        display: block;
                    }

                    &-description {}
                }
            }
        }
    }
}